section#banner{
  height: 80vh;
  background-color: white;
}
section#banner .wrap{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

section#banner .wrap ul li:first-child{
  padding-right: 25px;
}