section#footer{
  height: 75vh;
  background-color: #f7f7f7;
  padding-top: 100px;
  overflow: hidden;
}
section#footer .wrap{
  height: 100%;
} 
section#footer .wrap .footerTop{
  
}
section#footer .wrap .footerTop p.colorP{
color:#ef426f;
font-size: 18px;
text-align: center;
}
section#footer .wrap .footerTop h4{
  font-size: 30px;
  text-align: center;
  line-height: 2;
  font-weight: bold;
}
section#footer .wrap .footerTop div.mail{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  /*! place-items: center; */
}
section#footer .wrap .mail input{ 
  display: block;
  height: 35px;
  margin-bottom: 13px;
  grid-column: 2;
}
input::placeholder {
  text-align: center;
}
section#footer .wrap .footerTop button{ 
  height: 35px;
  grid-column: 2;
  margin-bottom: 23px;
}
section#footer .checkB{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

section#footer .wrap .footerTop p:last-child{
  text-align: center;
  color: #999999;
  font-size: 14px;
}
section#footer .wrap .footerTop p:last-child span{
  color:#656565;
}
section#footer .wrap .footerMiddle{
  margin-top: 80px;
  margin-bottom: 40px;
}
.footerMiddle ul.grid{
  grid-template-columns: 1fr 1fr 1fr;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.footerMiddle ul.grid li{
  justify-self: center;
  line-height: 1.6;
}

.textBold{
  font-weight: bold;
  color:#505050;
}

.textLight{
  color:#5d5d5d;
}

section#footer .wrap .footerMiddle::after{
  content:"";
  background-color:#cecece;
  height:1px;
  display: block;
  width: 100vw;
  margin-left: -69px;
  margin-top: 40px;
}

section#footer .wrap .footerBottom{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#footer .wrap .footerBottom>ul{
  margin: 0 auto;
  margin-bottom: 40px;
}
section#footer .wrap .footerBottom ul li a{
   color: #999999;
  
}
section#footer .wrap .footerBottom ul li:not(:last-child) a{
   padding-right: 153px;
}

section#footer .wrap .footerBottom p{
  text-align: center;
  color: #333333;
  font-size: 14px;
}
section#footer .wrap .footerBottom p::before{
content:"";
background-image:url(../img/icon.svg);
display: block;
width: 45px;
height: 45px;
background-position: center;
margin: 0 auto;
margin-bottom: 22px;
}