section#sns{

  position: relative;
  padding-top: 100px;
}
section#sns .wrap{

}
section#sns .wrap h2.one{
  font-size: 40px;
  text-align: right;
  margin-bottom: 20px;
}

section#sns .wrap ul.innerB{
}
section#sns .wrap ul.innerB::after{
 content:"";  
 display: block;
 height: 100%;
 width: 32%;
 background-color: #f5e1e2;
 position: absolute;
 right: 0;
 top: 0;
 z-index: -1;
}
section#sns .wrap ul li{
}
section#sns .wrap ul.innerB>li:nth-child(2){
  
  margin-left: 150px;
}
section#sns .wrap ul.innerB>li:first-child{
  margin-bottom: 90px;
}
section#sns .wrap ul.outer>li:first-child{
  margin-left: 74px;
}
section#sns .wrap ul.outer>li:nth-child(2){
  margin-right: 35px;
}
section#sns ul.rightB li{
  
  font-size: 30px;
  padding-right: 10px;
}

section#sns .wrap h2.two{
  font-size: 40px;
  transform: rotate(-90deg);
  position: absolute;
  z-index: 1;
  top: 333px;
  left: -96px;
}

section#sns .rightT li a img{
  width: 364px;
  height: 364px;
}

ul.rightB>li:not(:first-child) a img{
  padding: 0 24px;
}